DISCORD_TOKEN=MTQ4NTg4NzY2MjQ0NjM1MDM1Ng.GfN-CC.4FdqpC7MTfNgNHiOFYZ42yHyGSsEoASibCZI6M
CLIENT_ID=1485887662446350356
DATABASE_URL=postgresql://neondb_owner:npg_Rt6mdC5raXVL@ep-misty-cloud-an9e3t8b-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require