DISCORD_TOKEN=YOUR_TOKEN_HERE
CLIENT_ID=1485887662446350356
DATABASE_URL=postgresql://neondb_owner:npg_Rt6mdC5raXVL@ep-misty-cloud-an9e3t8b-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require